<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Konecta</h2> - <h4>(2020-2021)</h4></li>
            <p>Atención al cliente telefónico. Manejo diario de softwares para la carga de gestiones y datos.</p>
            <li><h2>Ministerio de Gobierno, Seguridad y Justicia</h2> - <h4>(2016-2017)</h4></li>
            <p>Encargada de la gestión, administración, relevamientos y rendiciones de cuentas de los bienes muebles del Ministerio. Manejo de herramientes informáticas y sistemas de gestión.</p>
        </ul>
    </div>
</div>