<div class="row">
    <h1>Habilidades</h1>
    <div class="skils">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BAD1E6'"
        [innerStrokeColor]="'#D4E4F2'"
        [animation]="true"
        [animationDuration]="700"
        [responsive]="true"
        [imageSrc]="'./assets/html.png'"
        [showImage]="true"
        [imageWidth]="105"
        [imageHeight]="100"
        ></circle-progress>
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BAD1E6'"
        [innerStrokeColor]="'#D4E4F2'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageWidth]="105"
        [imageHeight]="100"
        [responsive]="true"
        ></circle-progress>
        <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BAD1E6'"
        [innerStrokeColor]="'#D4E4F2'"
        [animation]="true"
        [animationDuration]="700"
        [responsive]="true"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="90"
        ></circle-progress>
        <circle-progress
        [percent]="40"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BAD1E6'"
        [innerStrokeColor]="'#D4E4F2'"
        [animation]="true"
        [animationDuration]="700"
        [responsive]="true"
        [imageSrc]="'../assets/github-logo.png'"
        [showImage]="true"
        [imageWidth]="110"
        [imageHeight]="110"
        ></circle-progress>
        <circle-progress
        [percent]="30"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BAD1E6'"
        [innerStrokeColor]="'#D4E4F2'"
        [animation]="true"
        [animationDuration]="700"
        [responsive]="true"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="90"
        ></circle-progress>
    </div>
</div>


